body {                   /* CORPS/GLOBALITE DU CODE HTML */
  width: 100%;
  margin:auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  background-color: white;    
}

header {                /* POSITION DE L'EN-TETE */
	position: relative;
  width: 100%;
}

ul {                   /* PARAMETRAGE DU MENU PRINCIPAL */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c5e1a5;
}

li {                   /* ALIGNAGE FONCTION DU MENU */
  float: left;
}

li a {                 /* TEXTE DES MENUS */
  display: block;
  color: white;
  text-align: center;
  padding: 25px 40px;
  text-decoration: white;
}

li a:hover:not(.active) {  /* COULEUR SI MENU PAS SURVOLE PAR LA SOURIS*/
  background-color: rgba(148, 229, 55, 0.30);
}

/*-----------------------------------------*/
.active {                 /* TEXTE PRINCIPAL DE LA CLASSE 'ACTIVE' */
  background-color: rgba(148, 229, 55, 0.30);
  color : #2c405a ;
}
/*-----------------------------------------*/
/* PARAMETRAGE DU BOUTON POUR LE FORMULAIRE */
.bouton {                 
  background-color: #2c405a;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin-top: 8px;

}
/*-PARAMETRE DU TABLEAU-*/
.tailleetexte {
  width: 25px;
   height: 15px
  }

#tab {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  border-width: 1px;
  padding-bottom: 10px;
}

#tab caption{
  margin-top: 100px;
  margin-bottom: 40px;
  padding-top: 5px;
  color: red;
}

#tab td {
  border-radius: 8px;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #FFFFFF;
  color: #2c405a;
}

#tabint {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  border-width: 1px;
}

#tabint th {
  font-weight: normal;
}

#tabint td {
  border-radius: 8px;
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FFFFFF;
  color: #2c405a;
}

/*-----------------------------------------*/
/*SCROLL BAR SUR LE COTE                  */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*-----------------------------------------*/