<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Dashboard | Erreur</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_e.css') }}">
	<link rel="icon" type="image/ico" href="{{ url_for('static', filename='tbd.png') }}" />
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1>Erreur</h1>
			<h2>Cette page n'existe pas!</h2>
			<p>Cette page est inaccessible ou n'existe pas! </p>
			<a href="/">Retour à l'accueil</a>
		</div>
	</div>

</body>

</html>
