<!DOCTYPE html>

<html lang = fr>
	<head> <!--DEFINITION DE LA PAGE WEB POUR LE NAVIGATEUR-->
		<meta charset="utf-8">
        <meta http-equiv="Refresh" content="60; url= / ">
        <meta name="author" content="©Emmanuel_BOURHIS, LCR , 2021">
		<title> Dashboard | Accueil</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='tbd.png') }}" />
     
    </head>
    
    <script type="text/javascript"> // RECUPERATION ET AFFICHAGE DE L'HEURE EN DIRECT
        //SOURCE DU CODE : https://www.j0k3r.net/html-afficher-l-heure
        function tS(){
            x=new Date();
            x.setTime(x.getTime());
            return x;
        }
        function lZ(x){
            return (x>9)?x:'0'+x;
        }
        function dT(){      
            if(fr==0){
                fr=1;
                document.write(" " + '<span id="tP">'+eval(oT)+'</span>');
            }
            document.getElementById("tP").innerHTML =  eval(oT);
            setTimeout('dT()',1000);
        }
        var fr=0;
        oT="tS().getHours()+':'+lZ(tS().getMinutes())+':'+lZ(tS().getSeconds())"
    </script>
    
    <body>
        <header><!--EN-TETE DE PAGE-->
    
        <ul>  <!--MENU PRINCIPAL DU HAUT DE PAGE-->
            <li>
                <a class="active"><FONT COLOR= #2c405a ><b>IHM AGRICULTURE</b></FONT></a>
            </li>
            <li>   
                <a href="/">VALEURS DIRECT</a>
            </li>
            <li>   
                <a href="/commandeL">COMMANDE LED</a>
            </li>
            <li>   
                <a href="/commandeC">COMMANDE CHAUFFAGE</a>
            </li>
            <li>   
                <a href="/commandeA">COMMANDE ARROSOIR</a>
            </li>
            <li>   
                <a href="/graphiques">HISTORIQUE DES MESURES</a>
            </li>
        </ul>

    </header>
    <div>
        <p><a href="/logout" class="decon">Deconnexion</a></p>
        <p ALIGN='right' style="margin-right: 10px;"> 
            <FONT COLOR= #2c405a >Il est actuellement <b><script>dT();</script></b> </FONT>
        </p>
        <p ALIGN='center' style="margin-bottom: 30px;">
            <FONT COLOR= #2c405a >DONNÉES À <b>{{heure}}</b> | <a href="/" style="text-decoration: none;">ACTUALISER<img src={{ url_for('static', filename='act.png') }} style="width: 1%;"></img> </a></FONT>
        </p>
    </div>
		<p ALIGN='center'> <FONT COLOR=#2c405a><b>VALEURS ACQUISES :</b></FONT>
		</p>
		
        <table id = "tab"  ALIGN='CENTER' >  <!--TABLEAU AVEC LES JAUGES POUR LES VALEURS DE L'AIR ET L'ENSOLEILLEMENT-->
            <tr>
                <th WIDTH="33%" BGCOLOR="#FFFFFF">
                    HUMIDITÉ AIR : {{humiair}} %
                </th>
                <th WIDTH="33%" BGCOLOR="#FFFFFF">
                    TEMPÉRATURE AIR : {{tempeair}} °C
                </th>
                <th WIDTH="33%" BGCOLOR="#FFFFFF">
                    ENSOLEILLEMENT :  {{sol}} W/m²
                </th>
            </tr>
            <tr>
                <td> 
                    <input type='text' name='compteur0' value="{{humiair}}" class='compteur' data-min='0' data-max='100'
                        data-color='#aed6f1' data-taille='100' />  <!--CREATION D'UNE JAUGE -->
                </td>
                <td> 
                    <input type='text' name='compteur2' value={{tempeair}} class='compteur' data-min='0' data-max='50'
                        data-color='rgba(247, 2, 2, 0.60)' data-taille='100' />
                </td>

                <td>
                    <input type='text' name='compteur4' value={{sol}} class='compteur' data-min='0' data-max='1500'
                        data-color='#f7dc6f' data-taille='100'/>
                </td> 
            </tr>
        </table> 
        <table id= "tab"  ALIGN='CENTER' > <!--TABLEAU AVEC LES JAUGES POUR LES VALEURS DU SOL-->
            <th WIDTH="50%" BGCOLOR="#FFFFFF">
                HUMIDITÉ SOL : {{humisol}} %
            </th>
            <th WIDTH="50%" BGCOLOR="#FFFFFF">
                TEMPÉRATURE SOL : {{tempesol}} °C
            </th>
        </tr>
            <tr>
                <td>
                    <input type='text' name='compteur1' value={{humisol}} class='compteur' data-min='0' data-max='100'
                        data-color='#aed6f1' data-taille='100' />
                </td>
                <td> 
                    <input type='text' name='compteur3' value={{tempesol}} class='compteur' data-min='0' data-max='50'
                        data-color='rgba(247, 2, 2, 0.60)' data-taille='100' />
                </td>
            </tr>
        </table>   
  

        <script type='text/javascript'
        src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'>             //LIBRAIRIE JQUERY POUR L'AFFICHAGE DE L'HEURE
        </script> 

        <script type='text/javascript'
        src="{{ url_for('static', filename='jauge-circulaire-fonction-dessin-jauge.js') }}"> //LIBRAIRIE DESSIN JAUGES
        </script>

        <script type='text/javascript'
        src="{{ url_for('static', filename='jauge-circulaire.js') }}">                        //LIBRAIRIE CONCEPTION JAUGES
        </script>
    
    </body>
    
</html>
