<!DOCTYPE html>

<html lang = fr>
	<head> <!--DEFINITION DE LA PAGE WEB POUR LE NAVIGATEUR-->
		<meta charset="utf-8">
		<title> Dashboard | Accueil</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='tbd.png') }}" />
    </head>
    
    <script type="text/javascript"> // RECUPERATION ET AFFICHAGE DE L'HEURE EN DIRECT
        //SOURCE DU CODE : https://www.j0k3r.net/html-afficher-l-heure
        function tS(){
            x=new Date();
            x.setTime(x.getTime());
            return x;
        }
        function lZ(x){
            return (x>9)?x:'0'+x;
        }
        function dT(){      
            if(fr==0){
                fr=1;
                document.write(" " + '<span id="tP">'+eval(oT)+'</span>');
            }
            document.getElementById("tP").innerHTML =  eval(oT);
            setTimeout('dT()',1000);
        }
        var fr=0;
        oT="tS().getHours()+':'+lZ(tS().getMinutes())+':'+lZ(tS().getSeconds())"
    </script>
    
    <body>
        <header><!--EN-TETE DE PAGE-->
    
        <ul>  <!--MENU PRINCIPAL DU HAUT DE PAGE-->
            <li>
                <a class="active"><FONT COLOR= #2c405a ><b>IHM AGRICULTURE</b></FONT></a>
            </li>
            <li>   
                <a href="/">RÉGLAGES</a>
            </li>
            <li>   
                <a href="/graphiques">HISTORIQUE DES MESURES</a>
            </li>
            <p style="float:right;margin: 25px;" >
                <a><FONT COLOR= #2c405a >Il est actuellement <b><script>dT();</script></b> </FONT></a>
            <p>
        </ul>

        <p ALIGN='center' style="margin-bottom: 30px;">
                <FONT COLOR= #2c405a >DONNÉES À <b>{{heure}}</b> | <a href="/" style="text-decoration: none;">ACTUALISER<img src={{ url_for('static', filename='act.png') }} style="width: 1%;"></img> </a></FONT>
        </p>
        
    </header>

        <CENTER>
        <form action=" " method="POST"> <!--EMPLACEMENT REGLAGE VALEUR DU TUBE LED-->
            <p> <FONT COLOR=#2c405a><b>RÉGLAGE DU TUBE LED :</b> </FONT>
            </p>
            <center>
            <div class="slider" >  <!--DIVISION DE LA GLISSIERE-->
               <input type="range" id="Reglage_LED" name="Reglage_LED" min="0" max="10" value="5" step="0.1" list="tickmarks"  > <!--DEFIFINITON DE LA GLISSIERE-->
               <p>Valeur de réglage: <span id="affregl"></span>V</p> <!--FONCTION D'AFFICHAGE DE LA VALEUR (foncttion JS en bas du code)-->
                <datalist id="tickmarks"> <!--INDICATIONS DE REGLAGE SUR LA REGLETTE-->
                    <option value="0">
                    <option value="1">
                    <option value="2">
                    <option value="3">
                    <option value="4">
                    <option value="5">
                    <option value="6">
                    <option value="7">
                    <option value="8">
                    <option value="9">
                    <option value="10">
                </datalist>  
            </div></center>
            <input type="submit" id="envoi" class ="bouton" value="Appuyer pour régler le tube LED" onclick="control()")>   <!--BOUTON AVEC POUR L'ENVOI DES DONNEES-->
        </form>
    </CENTER>

		<p ALIGN='center'> <FONT COLOR=#2c405a><b>VALEURS ACQUISES :</b></FONT>
		</p>
		
        <table BORDER=2 CELLPADDING=2 ALIGN='CENTER' >  <!--TABLEAU AVEC LES JAUGES POUR LES VALEURS DE L'AIR ET L'ENSOLEILLEMENT-->
            <tr>
                <td WIDTH="33%" BGCOLOR="#FFFFFF"> 
                    <p> HUMIDITÉ AIR : {{humiair}} %</p>
                    <input type='text' name='compteur0' value={{humiair}} class='compteur' data-min='0' data-max='100'
                        data-color='#aed6f1' data-taille='100' />  <!--CREATION D'UNE JAUGE -->
                </td>
                <td WIDTH="33%" BGCOLOR="#FFFFFF"> 
                    <p>TEMPÉRATURE AIR : {{tempeair}} °C </p>
                        <input type='text' name='compteur2' value={{tempeair}} class='compteur' data-min='0' data-max='50'
                        data-color='rgba(247, 2, 2, 0.60)' data-taille='100' />
                </td>

                <td WIDTH="33%" BGCOLOR="#FFFFFF">
                    <p>ENSOLEILLEMENT :  {{sol}} lux </p>
                        <input type='text' name='compteur4' value={{sol}} class='compteur' data-min='0' data-max='500'
                        data-color='#f7dc6f' data-taille='100'/>
                </td> 
            </tr>
        </table> 

        <table BORDER=2 CELLPADDING=2 ALIGN='CENTER' > <!--TABLEAU AVEC LES JAUGES POUR LES VALEURS DU SOL-->
            <tr>
                <td WIDTH="50%" BGCOLOR="#FFFFFF"> 
                    <p>HUMIDITÉ SOL : {{humisol}} % </p>
                        <input type='text' name='compteur1' value={{humisol}} class='compteur' data-min='0' data-max='100'
                        data-color='#aed6f1' data-taille='100' />
                </td>
                <td WIDTH="50%" BGCOLOR="#FFFFFF"> 
                    <p>TEMPÉRATURE SOL : {{tempesol}} °C </p>
                        <input type='text' name='compteur3' value={{tempesol}} class='compteur' data-min='0' data-max='50'
                        data-color='rgba(247, 2, 2, 0.60)' data-taille='100' />
                </td>
            </tr>
        </table>   
  

        <script language='Javascript' type='text/javascript'
        src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'>             //LIBRAIRIE JQUERY POUR L'AFFICHAGE DE L'HEURE
        </script> 

        <script language='Javascript' type='text/javascript'
        src={{ url_for('static', filename='jauge-circulaire-fonction-dessin-jauge.js') }}> //LIBRAIRIE DESSIN JAUGES
        </script>

        <script language='Javascript' type='text/javascript'
        src={{ url_for('static', filename='jauge-circulaire.js') }}>                        //LIBRAIRIE CONCEPTION JAUGES
        </script>
       
       <script type="text/javascript">                                                     //AFFICHAGE DE LA VALEUR DE LA GLISSSIERE EN DIRECT
            var slider = document.getElementById("Reglage_LED");    //RECUPERATION DE L'ELEMENT OU LA VALEUR EST
            var output = document.getElementById("affregl");        //NOM DE LA VARIABLE POUR AFFICHER EN DIRECT

            output.innerHTML = slider.value;                        //DANS LA PAGE LA SORTIE EST = A LA VALEUR DE SLIDER : VARIABLE DE REGLAGE_LED
            slider.oninput = function() {                           //LA VALEUR A RECUPERER EST UNE FONCTION
                output.innerHTML = this.value;                      //LA SORTIE A AFFICHER EST LE POINTEUR(EMPLACEMENT DE MEMOIRE) PAREIL QUE LA VALEUR RECUPERE
                }
        </script>
        
    </body>
    
</html>
