<!DOCTYPE html>

<html lang = fr>
	<head> <!--DEFINITION DE LA PAGE WEB POUR LE NAVIGATEUR-->
		<meta charset="utf-8">
        <meta name="author" content="©Emmanuel_BOURHIS, LCR , 2021">
		<title> Dashboard | Mode</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylereg.css') }}">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='tbd.png') }}" />
    </head>

    <body>
        <header><!--EN-TETE DE PAGE-->
    
            <ul>  <!--MENU PRINCIPAL DU HAUT DE PAGE-->
                <li>
                    <a class="active"><FONT COLOR= #2c405a ><b>IHM AGRICULTURE</b></FONT></a>
                </li>
                <li>   
                    <a href="/">VALEURS DIRECT</a>
                </li>
                <li>   
                    <a href="/commandeL">COMMANDE LED</a>
                </li>
                <li>   
                    <a href="/commandeC">COMMANDE CHAUFFAGE</a>
                </li>
                <li>   
                    <a href="/commandeA">COMMANDE ARROSOIR</a>
                </li>
                <li>   
                    <a href="/graphiques">HISTORIQUE DES MESURES</a>
                </li>
            </ul>

    </header>
    <body>
    <table id ="tab" align="center">
        <caption>REGLAGE MODE AUTOMATIQUE DE L'ARROSOIR
        </caption>
        <tr>
        <form action="/autochnt3/s" id="seuils" method="POST">
            <td>Réglage des seuils d'humidité :
                <table id = "tab" align="center">
                    <tr>
                        <input class="tailleetexte" type="hidden" id="tempair" name="tempair" value={{dn[2][1]}} maxlength="3">
                        <input class="tailleetexte" type="hidden" id="tempsol" name="tempsol" value={{dn[2][2]}} maxlength="3">
                        <td>Humidité         (%):
                            <table id = "tabint" align="center">
                                <tr>
                                    <td>AIR: <input class="tailleetexte" type="text" id="humair" name="humair" value={{dn[2][3]}} maxlength="3">
                                    </td>
                                    <td>SOL: <input class="tailleetexte" type="text" id="humsol" name="humsol" value={{dn[2][4]}} maxlength="3">
                                </tr>
                            </table>
                        <input class="tailleetexte" type="hidden" id="enso" name="enso" value={{dn[2][5]}} maxlength="3">
                    </tr>
                </table>
            <input type="submit" class="bouton" value="Changement seuils">
            </td>
        </form>
        </tr>
        <tr>
        <form action="/autochnt3/c" id="conditions" method="POST">
            <td>Réglage des conditions :
                <table id = "tabint" align="center">
                    <tr>
                        <th>
                            Réglage en dessous des seuils:
                        </th>
                        <th>
                            Réglage au dessus des seuils:
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Réglage fixe de <input class="tailleetexte" type="text" id="fixdessous" name="fixdessous" value={{dn[2][6]}} maxlength="3"> V
                        </td>
                        <td>
                        <input type="radio" name="type-reg" value="fixe" {{lreg[2]}} /> {#METTRE DU JINJA POUR LE checked #}
                        Réglage fixe de <input class="tailleetexte" type="text" id="fixdessus" name="fixdessus" value={{dn[2][7]}} maxlength="3"> V<br><div align=center>ou</div>
                        <input type="radio" name="type-reg" value="prog"  {{lreg[3]}}/>
                        Réglage progressif :<br>
                            Augmenter d'un palier de <input class="tailleetexte" type="text" id="palier" name="palier" value={{dn[2][8]}} maxlength="3"> mL/s
                            quand l'humidité(cooriger temp) descend de <input class="tailleetexte" type="text" id="dlux" name="dlux" value={{dn[2][9]}} maxlength="3"> %                                 
                        </td>

                </table>
                <input type="submit" class="bouton" value="Changement conditions">
        </form>
            </td>
        </tr>
    </table>
    
    </body>
</html>